<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Youtube to MP3</title>
</head>
<body>
    <form action="" method="post">
        <div class="link-zone">
            <label for="" class="link-label">Illeszd be a youtube linket</label>
            <input type="text" name="url" class="url" placeholder="https://www.youtube.com/... ">
            <select name="select" class="select">
                <option value="mp3" name="mp3">MP3</option>
                <option value="mp4" name="mp4">MP4</option>
            </select>
        </div>
        <button class="convert-btn" type="submit">convert</button>
    </form>


    <script src="/static/script.js"></script>
</body>
</html>